*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: red;
}

button{
    border: unset;
    padding: 1rem 2rem 1 rem 2rem;
}

.purple-button{
    background: #5F11E2;
    color: #fff;
}