  * {
    font-family: "Outfit", sans-serif;
    background-color: aquamarine;
  }
  header {
    background-color: brown;
  }

  footer {
    background-color: chartreuse;
  }

  .block {
    display: block;
  }

  .inline-block {
    display: inline-block;
  }

  .w-50 {
    width: 49%;
  }

  h1, h2, h3 {
    color: red;
  }
  
  #paragrafoprincipal {
    color: green;
  }

  .textoalterado {
    color: blueviolet;
  }